.lbox {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}
.pmain {
  font-size: 25px;
  font-weight: 100;
}
.phead {
  font-size: 25px;
  font-weight: 100;
}
.pfunc {
  font-size: 22px;
}
.pfunc .fas {
  margin-right: 10px;
}
@media (max-width: 600px) {
  .pmain,
  .pfunc,
  .phead {
    font-size: 15px;
  }
}
